body {
  font-family: Arial, sans-serif;
  background-color: #f8f8f8;
  color: #333;
}

/* Style for the App component */
.App {
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  border: 1px solid #ccc;
}

/*Style common components across pages*/
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

h1 {
  font-size: 32px;
  margin-bottom: 10px;
}

p {
  font-size: 20px;
  margin-bottom: 10px;
}

/* Style for the form components*/
form{
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 80%;
  justify-content: center;
}

label {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

button {
  background-color: #4285f4;
  color: #fff;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #3367d6;
}

hr{
  width: 80%;
  margin-top: 50px;
}

input {
  font-size: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}

/*Expense History styling*/
.expense-history{
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
ul {
  text-align: center;
  list-style: none;
}

li {
  background-color: #fff;
  color: #333;
  padding: 10px;
  margin: 10px;
}

.expense-list {
  display: flex;
  align-items: center;
  white-space:nowrap;
  overflow:auto;
}
.expense-list span{
  padding: 10px;
  width: 30%;
}
li button {
  font-size: 16px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #333;
  color: #fff;
  cursor: pointer;
  align-items: end;
}

li button:last-of-type {
  margin-left: 10px;
  background-color: #f8b400;
}

li button:hover {
  opacity: 0.8;
}
